html{
  background-color: gray;
}

.Nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  text-align: center;
  padding: 10px;
  background-color: gray;
  /* z-index: 1; */
}

.monsterPage{
  background-color: gray;
}

.monsterPage h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.allContainers{
  background-color: lightgray;
  display: flex;
  flex-flow: row wrap;
}

.allContainers .monsterContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 5vw;
  margin: 1vw;
  background-color: gray;
  cursor: pointer;
}

.navItem{
  margin: 0 1vw 0 1vw
}

.profileImage{
  width: 5vw;
  height: auto;
  border-radius: 10px;
}

.profileEditOptions{
  margin: 10px;
}

.profileForm{
  display: flex;
  flex-flow: column;
  width:13vw
}

.profilePage .editMode{
  display: flex;
  flex-flow: column;
  width:13vw
}

.username form{
  display:flex;
  flex-flow: column;
  width:13vw
}

.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6vw 50px 50px 50px;
  background-color: gray;
  /* z-index: 1; */
}

.homePage .links{
  display:flex;
  flex-flow: row;
}
.homePage .links p{
  margin: 10px;
  text-decoration: none;
}

.homePage .links p{
  margin: 10px;
  text-decoration: none;
}

.homePage .user{
  display:flex;
  flex-flow: row;
  margin:10px
}

.homePage .user p{
  margin: 10px;
}

.homePage h1{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
